{% extends "base.html" %} {% block page_content %}
<div class="container">
    <h1 class="mt-4 mb-4 font-th">ตารางการเข้าเรียน</h1>
    <table id="myTable" class="cell-border" class="table mt-4">
        <thead>
            <tr>
                <th class="text-center" scope="col" style="width: 20px">#</th>
                <th class="text-center">Date</th>
                <th class="text-center">Name</th>
                <th class="text-center">Subject</th>
                <th class="text-center">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for record in data %}
            <tr>
                <th class="text-center" scope="row">{{ forloop.counter }}</th>
                <td class="text-center">{{record.Date}}</td>
                <td class="text-center">{{record.Name}}</td>
                <td class="text-center">{{record.Subject}}</td>
                <td class="text-center">{{record.Status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        $("#myTable").DataTable();
    });
</script>
{% endblock %}